$primary: #ff8515;
$primary-hover: darken($primary, 10%);
$primary-content: #fff;
$base: #fff;
$base-100: darken($base, 10%);
$base-200: #F9F6F6;
$text-primary: #363636;
$text-secondary: #797979;