@mixin mobile() {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin large() {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin hideScrollbar {
  &::-webkit-scrollbar {
    width: 0 !important
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}