@import "mixins";

.app {
  width: screen;
  padding: 34px 73px 77px 56px;
  overflow: visible;
  .basket-stat {
    margin: 0 auto;
  }

  .basket-list {
    max-height: 70vh;
    overflow: auto;
    margin-bottom: 45px;
  }

  .product-list-wrapper {
    width: calc(100% + 73px);
    margin-bottom: 166px;
  }

  .hero {
    margin: 89px auto 119px;
  }

  .basket-modal {
    position: absolute;
    bottom: 77px;
  }
}

@include mobile {
  .app {
    padding: 34px 0 60px;
    .product-list-wrapper {
      margin-left: 44px;
      margin-bottom: 54px;
    }

    header {
      max-width: calc(100% - 44px);
      margin-left: 44px;
    }

    .basket-list {
      margin-bottom: 40px;
    }

    .basket-modal {
      position: absolute;
      bottom: 54px;
    }

    .hero {
      max-width: 430px;
      margin: 11px auto 36px;
    }
  }
}

@include large {
  .app {
    padding: 36px 74px 54px 140px;
    .product-list-wrapper {
      width: calc(100% + 74px);
      margin-bottom: 74px;
    }
    .basket-list {
      margin-bottom: 40px;
    }
    .hero {
      margin: 46px 0 37px;
    }
    .basket-modal {
      position: absolute;
      bottom: 54px;
    }
  }
}

@include xs {
  .app {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    header {
      max-width: 342px;
      margin-left: auto;
      margin-right: auto;
    }

    .product-list-wrapper {
      margin-left: 6vw;
    }
  }
}
