@import "mixins";




.app {
  width: screen;
  padding: 34px 73px 77px 56px;
  .basket-stat {
    margin: 0 auto;
  }

  .basket-list {
    max-height: 70vh;
    overflow: auto;
    margin-bottom: 45px;
  }

  .product-list-wrapper {
    width: calc(100% + 73px);
    margin-bottom: 164px;
  }

  .hero {
    margin: 87px auto 118px;
  }

  .basket-modal {
    position: absolute;
    bottom: 77px;
  }
}

@include mobile {
  .app {
    padding: 34px 24px 60px 44px;
    overflow: hidden;
    .product-list-wrapper {
      width: calc(100% + 24px);
      margin-bottom: 53px;
    }

    .basket-list {
      margin-bottom: 40px;
    }

    .hero {
      margin: 10px 0 35px;
      h1 {
        width: 100vw;
        position: relative;
        left: -44px;
      }
    }
  }
}

@include large {
  .app {
    padding: 36px 74px 54px 140px;
    .product-list-wrapper {
      width: calc(100% + 74px);
      margin-bottom: 73px;
    }
    .basket-list {
      margin-bottom: 40px;
    }
    .hero {
        margin: 45px 0 36px;
    }
    .basket-modal {
      position: absolute;
      bottom: 54px;
    }
  }
}

@include xs {
  .app {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
