.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.logo-nav-wrapper {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
    flex-wrap: wrap;
}

.nav {
    margin: 0 17px;
}
