@use "colors";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: colors.$base, $alpha: 0.84);
  backdrop-filter: blur(2px);
z-index: 2;
}
.container {
  position: relative;
  z-index: 3;
}

.is-closed {
  display: none;
}
