@use "colors";
@import "mixins";

.nav-list {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: colors.$text-secondary;
}

@include xs {
  .nav-list {
    width: auto;
    max-width: 140px;
    flex-grow: 1;
    gap: 5px;
  }
}