@use "colors";

.nav-list {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: colors.$text-secondary;
}
